name = "planning-poker-backend"
main = "src/index.ts"
compatibility_date = "2025-12-14"

[dev]
ip = "0.0.0.0"
port = 8787

[[durable_objects.bindings]]
name = "GAME"
class_name = "Game"

[[durable_objects.bindings]]
name = "REGISTRY"
class_name = "GameRegistry"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["Game"]

[[migrations]]
tag = "v2"
new_sqlite_classes = ["GameRegistry"]
