name: Build

on:
  pull_request:
  workflow_dispatch:

jobs:
  frontend-build:
    name: Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Enable corepack
        run: corepack enable

      - name: Use pnpm 10.25.0
        run: corepack prepare pnpm@10.25.0 --activate

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build frontend
        run: pnpm build

  wrangler-build:
    name: Wrangler
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: wrangler

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Enable corepack
        run: corepack enable

      - name: Use pnpm 10.25.0
        run: corepack prepare pnpm@10.25.0 --activate

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build wrangler
        run: pnpm wrangler build
