name: CI

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  frontend-build:
    name: Frontend build
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Enable corepack
        run: corepack enable

      - name: Use pnpm 10.25.0
        run: corepack prepare pnpm@10.25.0 --activate

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build frontend
        run: pnpm build

  wrangler-build:
    name: Wrangler build
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: wrangler

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: worker/pnpm-lock.yaml

      - name: Enable corepack
        run: corepack enable

      - name: Use pnpm 10.25.0
        run: corepack prepare pnpm@10.25.0 --activate

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build wrangler
        run: pnpm wrangler build
