name: Create Release PR (staging to production)

on:
  workflow_dispatch:
  push:
    branches:
      - staging

jobs:
  release:
    permissions:
      contents: read
      pull-requests: write

    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-git-pr-release

      - uses: ./.github/actions/git-pr-release
        with:
          staging_branch: staging
          production_branch: production
          environment_label: release to production
          token: ${{ github.token }}
